:root{
	font-size: 10px;
}
body{
	font-family: 'Acme', sans-serif;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.container > a{
font-size: 1.9rem;
font-weight: bold;
margin-top: 20px;
}
.navbar-nav >a{
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 20px;
}
#Postcardsfromnowhere .container .info .row .col-12{
	margin-top: 50px;
}
#Postcardsfromnowhere .container .info .row .col-12 >span{
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 50px;
	display: inline-block;
}
#Postcardsfromnowhere .container .info .row .col-12 >small{
	font-size: 1.4rem;
}
.navbar .container .collapse .navbar-nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff4757;
    transition: width .3s;
    
}
.navbar .container .collapse .navbar-nav a:hover::after{
	width: 100%;
}
.navbar .container .collapse .navbar-nav a:hover{
	color:#ff4757;
}
.navbar .container > a:hover{
	color:#95a5a6;
	transform: rotate(4deg);

}
.ima{
	padding-top: 40px;
}
.pic2{
	margin-top: 60px;
}
.pic3{
	margin-top: 60px;
}
.pic4{
	margin-top: 60px;
}
.pic5{
	margin-top: 60px;
}
.pic6{
	margin-top: 60px;
}
.pic7{
	margin-top: 60px;
}
.pic8{
	margin-top: 60px;
	margin-bottom: 60px;
}
